:root {
  --primary: #43a047;
}

#app {
  text-align: left;
}

nav ol:last-of-type, nav ul:last-of-type {
  padding-right: calc(var(--spacing) * .5);
}

nav ol:last-of-type, nav ul:last-of-type {
  margin-right: 0;
}

nav ol:first-of-type, nav ul:first-of-type {
  padding-left: calc(var(--spacing) * .5);
}

nav li.brand, nav li.brand > a {
  display: inline-flex;
  width: 7.5rem;
  align-items: center;
}

li.brand > a:focus {
  --background-color: transparent;
}

nav li.brand img  {
  max-height: 2rem;
}

.card img {
  max-height: 440px;
}

.card section {
  margin-bottom: 0;
}

.card section h1 {
  text-transform: uppercase;
  margin-bottom: 0;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  padding: .5rem;
}

h1, h2, h3, h4, h5, h6, p, code, pre, span, .icon {
  cursor: pointer;
}

 .icon.menu {
    display: none;
  }

@media screen and (max-width:768px) {
  .icon.menu {
    display: inline;
  }
}